<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Robot frames -->
  <node pkg="simplem_gazebo" name="simplem_tf" type="simplem_tf.py" />

  <!-- Robot model -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find simplem_description)/urdf/simplem.xacro'" />

  <!-- Spawn the robot model -->
  <node name="movil" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model simplem -z 0.1 -x -4 -y 1" />

</launch>
